.mainMenu{
  height: 100%;
  position: relative;
}

.mainMenu1{
  margin-top: 50px;
  display: flex;
  margin-left: 130px;
}

.mainMenu2{
  margin-top: 50px;
  display: flex;
   margin-left: 130px;
}

.Portfolio{
  height: 400px;
  width: calc(50% - 130px);
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 65px;
}

.Portfolio a{
  width: 100%;
  height: 100%;
  display: block;
}

 .mainMenu img{
  width:100%;
  cursor: pointer;
  height: 100%;
  transition: .5s;
}

.arrowDown p{
  font-size: 0.5em;
  transition: .5s;
}
.arrowDown i{
  transition: .5s;
}

.arrowDown{
  text-align: center;
  left: 45%;
  font-size: 3em;
  position: absolute;
  top:80%;  
  cursor: pointer;
  color:white;
}

.arrowDown:hover{
  color:#2db29d;
}

.arrowDown:hover i{
  transform: translateY(10px) scale(0.9);
}

.startImg{
  width: 100%;
  background: url(../Img/startB.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position:relative;
  overflow: hidden;
}

.mainLogo{
  height: 100px;
  width: 100%;
}
.bigLogo{
  position: absolute;
  background:rgb(31, 31, 31, 0.8);
  padding:25px; 
  border-radius: 10px;
  top:40%;
  width: 50%;
  left:25%;
}

.Shop{
  height: 400px;
  position: relative;
  overflow: hidden;
  width: calc(50% - 130px);
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 65px;
}

.itemName{
  position: absolute;
  bottom: 0;
  height: 100px;
  font-size:2em;
  line-height: 100px;
  text-align: center;
  width: 100%;
  transition: .5s;
  background:rgb(31, 31, 31, 0.8);
}

.mainMenuItem:hover img{
  transform: scale(1.1);
}

@media(max-width: 1100px){
  .Shop {
    height: 300px;
    position: relative;
    overflow: hidden;
    width: calc(50% - 80px);
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 65px;
}
.Portfolio {
  height: 300px;
  width: calc(50% - 80px);
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 65px;
}
.mainMenu1 {
  margin-top: 50px;
  display: flex;
  margin-left: 40px;
}

.arrowDown {
  text-align: center;
  left: 40%;
  font-size: 3em;
  position: absolute;
  top: 80%;
  cursor: pointer;
  color: white;
}

.bigLogo {
  position: absolute;
  background: rgb(31, 31, 31, 0.8);
  padding: 25px;
  border-radius: 10px;
  top: 40%;
  width: 70%;
  left: 15%;
}

}

@media screen and (max-aspect-ratio: 13/9)  and (min-width:875px) {
  .mainMenu1{
    margin-top: 150px;
    display: block;
    margin-bottom: 150px;
    margin-left: 15%;
  }

  .arrowDown{
    font-size: 5em;
    left: 40%;
  }

  .startImg{
    width: 100%;
    background: url(../Img/startB.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
    position:relative;
    overflow: hidden;
  }
  
.mainLogo{
  height: 150px;
}

  .bigLogo{
    position: absolute;
    background:rgb(31, 31, 31, 0.8);
    padding:25px;
    border-radius: 10px;
    top:40%;
    left:7.5% !important;
  }

  .mainMenu2{
    display: block;
     margin-left: 15%;
     margin-bottom: 50px;
  }
  
  .Portfolio{
    height: 400px;
    width: 75%;
    position: relative;
    overflow: hidden;
    margin: 30px;
  }

  .About{
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 75%;
    margin: 30px;
  }
  
  .Furniture{
    height: 400px;
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: 30px;
  }
  
  .Shop{
    height: 400px;
    position: relative;
    margin: 30px;
    overflow: hidden;
    width: 75%;
  }
}